server:
  port: 9000

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos

    gateway:
      discovery:
        locator:
          enabled: true  # 开启服务自动发现
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**

