server:
  port: 8001

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/interview?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true   # user_name -> userName
  global-config:
    db-config:
      id-type: auto